@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #205067;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow: scroll;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 40px auto;
}

.gradient-box {
    width: 100%;
    height: 500px;
    border: 0.5px solid #f3f2f2;
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.controls .color-input-form {
    border: none;
    outline: none;
    border-radius: 0;
}

.controls .color-input-form input {
    width: 100%;
    height: 20%;
    border: none;
    border-radius: 0;
}

.color-swatch {
    position: relative;
    height: 20px;
    padding: 0;
}

.color-value-text {
    position: absolute;
    top: -40px;
    left: 40px;
    font-family: monospace;
    font-size: 14px;
    color: #f3f2f2;
}

button {
    background-color: #205067;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    color: antiquewhite;
}

button:hover {
    background-color: #1f6acd;
    cursor: pointer;
    color: #ffffcc;
}

.title {
    color: #ffffcc;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.header-title {
    align-items: center;
    color: #ffffcc;
}

.nav-header {
    background-color: #001535;
    padding: 5px;
}

.nav-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.login-btn {
    display: flex;
    align-items: center;
}

.nav-header a,
.nav-header .nav-btn {
    width: 100%;
    height: 100%;
    background-color: #0f3763;
    /*background: none;*/
    color: #ffffcc;
    text-decoration: none;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.2s;
    display: inline-block;
}

.nav-header a:hover,
.nav-header .nav-btn:hover {
    background-color: #08458f;
}

.nav-header .save-palettes {
    background: none;
    color: #ffffcc;
}

.login, .register {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    color: #ffffcc;
}

.login .form-group, .register .form-group {
    padding: 5px;
}
.edit-palette a, .delete-palette a, .login a, .register a {
    text-decoration: none;
    background-color: #205067;
    padding: 5px;
    color: #ffffcc;
}

.saved-palettes {
    display: flex;
    justify-content: space-evenly;
    /*position: fixed;*/
    /*right: 50px;*/
    /*top: 150px;*/
}

.saved-palettes li.active-palette {
    background-color: #0f3763;
    font-weight: bold;
    padding-left: 15px;
}

.saved-palettes summary,
.saved-palettes summary::marker,
.saved-palettes summary::-webkit-details-marker {
    color: #ffffcc !important;
    cursor: pointer;
}

.saved-palettes summary h2 {
    display: inline-block;
    margin: 0 0 0 10px;
    color: #ffffcc !important;
    font-size: 1.5rem;
    vertical-align: middle;
}

.saved-palettes ul li a {
    color: #ffffcc;
    text-decoration: none;
}

.pagination a {
    text-decoration: none;
    color: #ffffcc;
}

.css-code-container {
    margin-top: 175px;
    margin-left: 150px;
}
.css-code-container textarea {
    display: none;
    /*color: #ffffcc;*/
    /*width: 30%;*/
    /*overflow: scroll;*/
}

.css-code {
    background-color: #205067;
    width: 100%;
    height: 50px;
    font-family: monospace;
    /*resize: none;*/
    /*color: #ffffcc;*/
}

@media (max-width: 800px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav-header ul {
        flex-direction: column;
        gap: 5px;
        align-items: stretch;
    }

    .saved-palettes,
    .nav-header li,
    .nav-header a,
    .nav-header .nav-btn,
    .nav-header form,
    .login-info{
        display: block;
        padding: 5px 0;
        text-align: center;
        font-size: 1.4rem;
    }
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav-header ul {
        flex-direction: column;
        gap: 5px;
        align-items: stretch;
    }

    .saved-palettes,
    .nav-header li,
    .nav-header a,
    .nav-header .nav-btn,
    .nav-header form,
    .login-info{
        display: block;
        padding: 2px 0;
        text-align: center;
        font-size: 1.4rem;
    }
}

body { border: 10px solid red !important; }