@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #205067;
    margin: 0;
    padding: 20px;
    color: #ffffcc;
    box-sizing: border-box;
    overflow: scroll;
}
header {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 1000px;
    margin: 0 auto;
}

.gradient-box {
    width: 800px;
    height: 500px;
    border: 1px solid #000;
}

.controls {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

button {
    background-color: #205067;
    margin: 2px;
    border-radius: 8px;
    color: #ffffcc;
}

label {
    margin-right: 10px;
}

.color-swatch {
    position: relative;
    width: 80px;
    height: 20px;
    margin: 8px;
    padding: 5px 5px 0 20px;
    border: 1px solid #205067;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.color-value-text {
    position: absolute;
    font-family: monospace;
    font-size: 14px;
    color: #333;
}

.saved-palettes {
    width: 400px;
}
.saved-palettes ul li a{
    color: #ffffcc;
    text-decoration: none;
}

.pagination a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: #ffffcc;
}
.css-code-container textarea {
    width: 90%;
}

.css-code {
    background-color: #205067;
    width: 100%;
    height: 50px;
    font-family: monospace;
    resize: none;
    color: #ffffcc;
}