<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gradient Generator</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <h1>Gradient Generator</h1>
</header>
<section class="container">
    <div class="gradient-box" style="{{ css_code }}"></div>
    <div class="controls">
        <form method="GET" action="{% url 'generate_gradient' %}">
<!--            <input type="hidden" name="random" value="false">-->
            {% for field in form %}
                {% if field.name != 'random' %}
                    {{ field.label_tag }}
                            {{ field }}
                        <div class="color-swatch" style="background-color: {{ field.value }};" data-for="{{ field.id }}">
                            <span class="color-value-text">{{ field.value }}</span>
                        </div>
                    {% if field.help_text %}
                        <span class="helptext">{{ field.help_text }}</span>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <button class="update">Update Gradient</button>
        </form>

        <form method="GET" action="{% url 'generate_gradient' %}">
            <button class="random" name="random" value="true">Random Colors</button>
        </form>

        <form method="GET" action="{% url 'get_saved_palette' %}">
            <button class="saved">Saved Palette</button>
        </form>

        <form method="POST" action="{% url 'generate_gradient' %}" class="save-form">
            {% csrf_token %}
            {% for color in colors %}
                <input type="hidden" name="color{{ forloop.counter }}" value="{{ color }}">
            {% endfor %}
            <button class="save">Save Palette</button>
        </form>

        <div class="css-code-container">
<!--            <span>CSS Code:</span>-->
            <button id="copy">Copy Code</button>
            <textarea id="css-code-area" class="css-code" readonly>{{ css_code }}</textarea>
        </div>
    </div>
    <div class="saved-palettes">
        <article>
            <h2>Saved Palettes</h2>
            <ul type="none">
                {% for palette in saved_palettes %}
                <li {% if palette.id == active_palette_id %}class="active-palette"{% endif %}>
                    <a href="{% url 'get_palette' palette_id=palette.id %}">
                        Palette {{ palette.id }}
                    </a>
                    <a href="{% url 'edit-palette' palette.id %}">Edit</a>
                    <a href="{% url 'delete-palette' palette.id %}">Delete</a>
                </li>
                {% empty %}
                <li>No palettes saved yet.</li>
                {% endfor %}
            </ul>
        </article>
        </article>
        <div class="pagination">
            {% if saved_palettes.has_previous %}
                <a href="?page={{ saved_palettes.previous_page_number }}">Previous</a>
            {% endif %}
            {% if saved_palettes.has_next %}
                <a href="?page={{ saved_palettes.next_page_number }}">Next</a>
            {% endif %}
        </div>
    </div>
</section>
<script src="{% static 'script.js' %}"></script>
</body>
</html>