{% load static %}
<header class="nav-header">
    <ul>
        <li class="random-color">
            <form method="GET" action="{% url 'generate_gradient' %}" class="nav-form">
                <button class="nav-btn" name="random" value="true">Random Colors</button>
            </form>
        </li>
        <li class="random-saved-palettes">
            <form method="GET" action="{% url 'get_saved_palette' %}">
                <button class="nav-btn">Random Saved Palette</button>
            </form>
        </li>
        <li class="save-palettes">
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'generate_gradient' %}" class="nav-form save-form-nav">
                {% csrf_token %}
                {% for color in colors %}
                    <input type="hidden" name="color{{ forloop.counter }}" value="{{ color }}">
                {% endfor %}
                <button class="nav-btn">Save Palette</button>
            </form>
        {% else %}
            <p class="login-info">Log in to save palette</p>
        {% endif %}
        </li>
        {% if user.is_authenticated %}
        <li>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="nav-btn">Logout</button>
            </form>

        {% else %}
        <li class="login-btn"><a href="{% url 'login' %}">Login</a></li>
        <li class="login-btn"><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </ul>
</header>